@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

body {
  background-color: #0f110c;
}

@theme {
  --font-prompt: "Prompt", serif;
}

.main-container {
  @apply flex min-h-screen  max-w-[780px] mx-auto bg-[#262730] items-center flex-col border-l border-r;
}

.language-container {
  @apply flex items-center my-5 gap-2 justify-center flex-wrap max-w-[300px];
}

.word-elements-container {
  @apply text-white text-xl md:text-3xl font-bold flex items-center justify-center;
}

.word-elements {
  @apply bg-slate-700 text-white font-bold items-center justify-center rounded-t-md mx-1 h-[40px] md:h-[50px] border-b-2 border-white md:px-[34px] px-[24px] py-2;
}

.keyboard-elements-container {
  @apply flex items-center flex-wrap justify-center max-w-[650px] mt-5 p-1 gap-2;
}

.keyboard-elements {
  @apply font-bold px-5 py-3 flex shadow-[0_1px_1px] hover:shadow-[0_2px_5px] transition-all cursor-pointer text-white shadow-white w-18 items-center flex-col rounded;
}

button {
  @apply active:scale-95;
}

.btn-newgame {
  @apply text-white bg-[#6457A6] hover:shadow-[0_0_3px] cursor-pointer transition-all px-8 py-3 my-6 font-black rounded-md;
}

.title,
.description {
  text-shadow: 1px 5px 1px black;
  padding: 5px;
}

.status,
.alphabet {
  text-shadow: 1px 5px 5px black;
}

.correct {
  background-color: #10a95b;
}

.wrong {
  background-color: #ec5d49;
}

span.language {
  @apply relative rounded font-black p-1 gap-1 shadow-[1px_1px_3px] shadow-black;
}

span.language.lost::before {
  content: "☠️";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
